name: Feature
on:
  push:
    branches:
      - "feature/*"

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Create Pull Request
        run: gh pr create -B main --title "Merge ${GITHUB_REF##*/} with main" --body "Created by Github Action"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
